*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: #FCFAFA;
}
a{
    text-decoration: none;
    color: #2c3e50;
}
.box {
    display: flex;
    flex-wrap: wrap;
}
.header{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #eaecef;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #FCFAFA;
}
.header .navbar{
    box-sizing: border-box;
    width: 50%;
    float:left;
}
.navbar .navbar-left{
    font-family:'黑体';
    font-size: 30px;
    font-weight: 600;
    position: relative;
    left: 25px;
    top: 15px;
}
.nav-links{
    position: absolute;
    right: 30px;
    top: 25px;
}
.linkBorder{
    border:1px solid rgb(125, 214, 97);
    width: 35px;
    margin-left: 11px;
    margin-top: 5px;
}
.arrow{
    position: relative;
    top: 13px;
	border: 6px solid;
	margin: 0 0 0 10px;
	border-color:#ccc transparent transparent transparent;
}

.nav-item{
    float: left;
    margin-left: 29px;
    font-family: sans-serif;
    font-size: 15px;
}
.dropdown-title{
    cursor: pointer;
    padding-right: 40px; 
}
.nav-dropdown{
    position: relative;
    padding: 5px 16px 5px 10px;
    right: 15px;
    top: 13px;
    border-radius: 3px;
    border: 1px solid #eaecef;
    text-align: left;
    background: #fff;
    font-family: "hoefler text", georgia, times, serif;
} 
@media (max-width: 768px){
    .nav-links{
        display:none;
    }
}
.dropdown-item{
    margin-top: 9px;
}
.nav-link:hover{
    color: rgb(125, 214, 97);
}


.main{
    display: flex;
}
.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}

#person {
	padding: 130px 0 0 130px;
	min-height: 700px;
	position: relative;
}
.cell2{
    position: absolute;
    width: 55%;
    min-height: 1px;
    padding-right: 15px;
    margin-left: 285px;
}
.person-title {
	background-color: #FCFAFA;
	border-radius: 150px;
	padding: 25px 60px;
	padding-right: 10px;
	margin-top: 95px;
    font-family: 'Playfair display';
}
.person-title h1 {
	font-size: 60px;
	font-weight: bold;
	line-height: 70px;
	color: #000;
	text-decoration: none;
	transition: 500ms;

}
.person-title a h1:hover {
	transform: scale(1.01);
}
.cell3{
    position: relative;
    margin-left: 25px;
    width: 40%;
    top: 290px;
    min-height: 1px;
}
.person-meta p{
    font-size: 20px;
	line-height: 30px;
    color: #404040;
    font-family: "Helvetica Neue",Arial,sans-serif;
    
}
.author-img,.author-meta{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}
.author-img{
    margin-right: 10px;
}
.author-meta span{ 
    display: block;
    font-family: "Helvetica Neue",Arial,sans-serif;
}
.author-name {
	font-size: 18px;
	margin-top: 5px;
	font-weight: bold;
}

.author-tag {
	font-size: 14px;
	color: #818181;
} 



/* .cenent{
    position: relative;
   margin: auto;
   width: 90%;
   border: 1px solid red;
}
#hero {
	padding: 80px 0;
	min-height: 700px;
	position: relative;
}
.justify-content-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.hero-img-container {
    position: absolute;
    left: 0px;
    padding: 0;
}
.cell2{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.cell1{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.date {
	display: inline-block;
	font-size: 18px;
	color: #818181;
}

.tags .badge-light{
	background-color: #EDEDED;
	color: #555;
	font-weight: normal;
}

.hero-img-container {
	position: absolute;
	left: 100px;
	padding: 0;
}

.hero-img {
	max-width: 540px !important;
	height: 540px;
	overflow: hidden;
	border-radius: 100%;
}

.hero-img img {
	width: 100%;
	height: auto;
}

.hero-title {
	background-color: #FCFAFA;
	border-radius: 150px;
	padding: 25px 60px;
	padding-right: 10px;
	margin-top: 95px;
	font-family: 'Playfair display'
}
.hero-title h1 {
	font-size: 60px;
	font-weight: bold;
	line-height: 70px;
	color: #000;
	text-decoration: none;
	transition: 500ms;

}
.hero-title a h1:hover {
	transform: scale(1.01);
}

.hero-meta p {
	font-size: 22px;
	line-height: 30px;
	color: #404040;
}
.author-img , .author-meta{
	display: inline-block;
	vertical-align: top;
}
.author-img {
	margin-right: 10px;
	width: 60px;
	height: 60px;
	border-radius: 100px;
	overflow: hidden;
}

.author-img img{
	max-width: 100%;
	height: auto;
}

.author-meta span{ 
	display: block;
}

.author-name {
	font-size: 18px;
	margin-top: 5px;
	font-weight: bold;
}

.author-tag {
	font-size: 14px;
	color: #818181;
} */

.footer{
    width: 100%;
    height: 50px;
    bottom: 0px;
    background: #eee;
}
